In [25]:
import plotly.express as px
import pandas as pd

import plotly.io as pio
pio.renderers.default = 'iframe' # or 'colab' or 'iframe' or 'iframe_connected' or 'sphinx_gallery'

In [35]:
df = pd.read_csv("nation_level_daily.csv")

In [36]:
df.head()

,date,totalconfirmed,totaldeceased,totalrecovered,dailyconfirmed,dailydeceased,dailyrecovered
0,30 January,1,0,0,1,0,0
1,31 January,1,0,0,0,0,0
2,01 February,1,0,0,0,0,0
3,02 February,2,0,0,1,0,0
4,03 February,3,0,0,1,0,0

In [49]:
px.bar(df,y="dailyconfirmed",x="date")

In [51]:
px.bar(df,y="dailyrecovered",x="date",color="dailyrecovered")